<h1>String Interpolation</h1>
<p>
{{stringInterPolation}} | {{numberInterPolation}}
</p>
<hr>
<h1>Property Binding</h1>
<input type="text" value="{{stringInterPolation}}">
<input type="text" [value]="stringInterPolation">
<p [ngClass]="{redBorder : true}">Is this is styled?</p>
<p [ngClass]="{redBorder : onTest()}">Is this is styled?</p>
<p [ngStyle]="{color : 'green'}">Is this is styled?</p>
<h3>Custom Property Binding</h3>
<fa-property-binding [result]="10" ></fa-property-binding>
<h1>Event Binding</h1>
<!--<fa-event-binding></fa-event-binding>-->
<!--<fa-event-binding (clicked)="onClicked2($event)"></fa-event-binding>-->
<fa-event-binding (clickable)="onClicked2($event)"></fa-event-binding>
